body {
  background: url(https://www.coventry.ac.uk/globalassets/media/global/05-research-section-assets/news/2023/space-news-story-767x460.jpg);
  background-repeat: no-repeat;
}

p {
color: yellow;
}

div {
background-color: blue;
border-color: orange;
border-width: 4px;    /* You can specify your own thickness with px*/
border-style: double;

}

/* For basic colors, you can use backgroud-color tag or you can use background */

span{
  background: red;
  color: black;
}


/* Selected tag{
property: value;
}*/
