/* div .{
  color: red;
} */

/* classes start with a dot */

.firstdiv{
  color:blue;
}

.seconddiv{
  color:red;
}

#singledout{
color: green;
text-decoration: line-through;
}

/* Ids you want to make them unique; attached to a single element */
/* Classes don't have to be unique, and they can repeat to group them */


*{
  color: black;
}
/* uncommon */

/* This selected tag will override alot of things; but not ids */

H3 + ul{
Border: 4px dotted purple;
}
/* Border thickness, style, color */


/* reads as select all unordered list immediately after h3 */

/* Adjacent siblings */
/* whatever is next to h3 is automatically given a border at 4px with dotted lines and the color purple */

li a{
  color: red;
}

/* all anchor tags inside list elements */


li a[href="https://facebook.com"]{
  color:blue;
  border: 5px solid orange;
}

/* a like with facebook.com inside the list will be colored blue, will have a border of 5px, solid color orange */
