/* selected tag {
  property: value;
} */

h1 {
  color: blue;   /*You need to use hexicolor codes */
}

/* Anything with the H1 tag will now be blue */


li {
  color: #33bbee;   /*Use RGB, RGBA, Use hexicolor*/
}

/* li {
 color: rgb(8,84,1);  This would work as well.
} */

p {
  color: #ff5100;
}


h4 {
  color: #3fd5f4;
}

/* This is rgba, different from rgb */

/* GBA stands for red, blue, green and alpha
		Alpha is a number between 0 & 1
			0 is fully transparent
			1 is fully opaque
				How dark or transparent the color is */
